$color-folk-theme: #F8961E;
$color-folk-primary: #0B4DAD;
$color-folk-secondary: #C12811;
$color-folk-black: #000;
$color-folk-blue: #46A1D1;
$color-folk-dark-blue: #0B4DAD;
$color-folk-cyan: #0DB39E;
$color-folk-green: #70CE64;
$color-folk-orange: #F8961E;
$color-folk-purple: #53468A;
$color-folk-red: #F94144;
$color-folk-yellow: #FFD200;
$color-folk-white: #FFF;