@font-face {
    font-family: 'Anthares Demo';
    src: url('AntharesDemo-Regular.woff2') format('woff2'),
        url('AntharesDemo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

