$layout-name: 'l-loader';

.#{$layout-name} {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-folk-white;
    z-index: 9999;

    img {
        width: 250px;
        height: 250px;
    }
}