$layout-name: 'l-page-news';

.#{$layout-name} {
    &__highlight {
        font-size: 1.5rem;
            
        @media screen and (min-width: 1600px) {
            font-size: 1.875rem;
        }

        @media screen and (max-width: 991px) {
            font-size: 1.125rem;
        }
    }
}