$utility-name: 'u-font-size';

.#{$utility-name} {
    &-0 {
        font-size: 0 !important;
    }

    &-7 {
        font-size: .4375rem !important;
    }

    &-8 {
        font-size: .8rem !important;
    }

    &-9 {
        font-size:  .5625rem !important;
    }

    &-10 {
        font-size: .625rem !important;
    }

    &-11 {
        font-size: .6875rem !important;
    }

    &-12 {
        font-size: .75rem !important;
    }

    &-13 {
        font-size: .6875rem !important;
    }

    &-14 {
        font-size: .875rem !important;
    }

    &-15 {
        font-size: .9375rem !important;
    }

    &-18 {
        font-size: 1.125rem !important;
    }
}

.before\:\: {
    &#{$utility-name} {
        &-16 {
            &::before {
                font-size: 1rem !important;
            }
        }

        &-20 {
            &::before {
                font-size: 1.25rem !important;
            }
        }
    }
}