$utility-name: 'u-font-weight';

.#{$utility-name} {
	&-light {
		font-weight: 300 !important;
	}

	&-regular {
		font-weight: 400 !important;
	}

	&-medium {
		font-weight: 500 !important;
	}

	&-semibold {
		font-weight: 600 !important;
	}

	&-bold {
		font-weight: 700 !important;
	}

	&-extrabold {
		font-weight: 800 !important;
	}

	&-black {
		font-weight: 900 !important;
	}
}